.checkbox {
    position: relative;

    display: block;
    padding-left: 35px;

    cursor: pointer;

    user-select: none;

    input {
        position: absolute;

        cursor: pointer;
        opacity: 0;

        &:checked {
            & ~ .checkbox__custom {
                &:after {
                    display: block;
                }
            }
        }
    }

    &__custom {
        position: absolute;
        top: 0;
        left: 0;

        width: 20px;
        height: 20px;

        background-color: #ffffff;
        border: 1px solid #000000;
        border-radius: 4px;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.05);

        &:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 6px;

            display: none;
            width: 7px;
            height: 12px;

            border: solid #000000;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }

    &__text {
        font-size: 14px;
        line-height: 1.43;
    }
}
