.container {
  // width: 100%;
  max-width: $xxxl;
  margin: 0 auto;
  overflow-x: hidden;

  //---------------------------------------
  // @media screen and (min-width: $md) {
  // 	width: 728px;
  // }

  //---------------------------------------
  // @media screen and (min-width: $lg) {
  // 	width: 964px;
  // }
}
