// *,
// *:before,
// *:after {
// 	outline: 1px dashed rgba(255, 0, 0, 0.6);
// 	animation: none !important;
// }

body {
  min-width: $xxs;
  margin: 0 auto;
  overflow-x: hidden;

  font-weight: 400;
  font-size: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 14px;
  text-align: left;
  color: $black;

  background-color: $white;

  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

a {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  color: $black;
}

/* ================================== */
