*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

html,
body,
ul,
ol,
li,
dd,
form,
fieldset,
legend,
figure,
button {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
blockquote {
  margin: 0;

  font: inherit;
}

button,
fieldset,
img {
  border: 0;
}

picture {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

input,
select {
  outline: none;
}

/* ================================== */
